body {
    margin: 0px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    background-color: #607ec7;
}

div#body {
    max-width: 800px;
    min-width: 580px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    color: #222;
}

p {
    line-height: 1.5em;
}

h1 {
    line-height: 1.1em;
}

ul {
    line-height: 1.5em;
}


a, a:visited {
    color: #ef8700;
}

pre {
    width: 98%;
    white-space: pre-wrap;       /* CSS 3 */
    padding: 5px;
}

code {
    font-size: 14px;
    padding: 2px;
}

blockquote {
    padding: 5px;
}

pre, code, blockquote {
    background-color: #6a6a6a;
    color: #ffefdf;
}

code > span.co {
    color: #ee9990;
}

code > span.st {
    color: #30ee20;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
